# Project Folders
extracted/


# Rust
hst-detector/target/

# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data & Models (large files)
#data/processed/
#data/experiments/
#data/results/
#data/raw/**/*.edf
#data/raw/**/*.mmrx
*.npz
*.pth
*.mlx

# OS & IDE files
.DS_Store
.vscode/
.idea/
*.log
